@import "../../utils//variables.scss";

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    background-color: white;
    -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);

    .logo {
        width: 5rem;
        height: auto;

        &--container {
            width: 7.5rem;
            text-align: left;
        }
    }
    h1 {
        color: $primary-color-dark;
    }
    nav {
        width: 7.5rem; //120px = 7.5rem
        display: flex;
        justify-content: right;
        a {
            display: inline-flex;
            align-items: center;
            gap: 0.5rem;
            .menu-icon {
                width: 1.5rem;
                height: auto;
            }
        }
    }
}
