@import "../../utils//variables.scss";

.form-new-employee {
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 6px 24px rgba(48, 49, 49, 0.2);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 500px;
    padding: 2% 2.25%;
    border: thick double $primary-color;

    .input-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        text-align: left;

        label {
            margin-bottom: 0.25rem;
        }
    }

    .address--container {
        background-color: $primary-color;
        border: none;
        box-shadow: 0px 0px 1px 2px rgba(91, 110, 9, 0.5);
        -webkit-box-shadow: 0px 0px 1px 2px rgba(91, 110, 9, 0.5);
        -moz-box-shadow: 0px 0px 1px 2px rgba(91, 110, 9, 0.5);
        border-radius: 0.5rem;
        margin-bottom: 1rem;
        padding-top: 1rem;

        .address--legend {
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: right;
            position: relative;
            font-weight: 500;
            color: white;
            font-style: italic;
            top: 10px;
            font-size: 18px;
        }
    }

    .error-message {
        color: red;
        font-size: 0.9rem;
    }

    .btn-save {
        background-color: $primary-color;
        border: none;
        border-radius: 0.5rem;
        color: white;
        cursor: pointer;
        display: block;
        font-size: 1rem;
        font-weight: 700;
        margin: 1.5rem auto 0;
        padding: 10px;
        width: 100px;

        &:hover {
            background-color: $primary-color-dark;
        }
    }
}
