@import "../../utils//variables.scss";

.search-input {
    height: 32px;
    width: 200px;
    border-radius: 3px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #e5e5e5;
    padding: 0 32px 0 16px;
    @media (max-width: 767px) {
        padding: 0 24px 0 12px;
        width: 140px;
        height: 28px;
    }

    &:hover {
        cursor: pointer;
    }
}

.search-input::placeholder {
    @media (max-width: 767px) {
        font-size: 0.75rem;
    }
}

.clearSearch {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 34px;
    width: 32px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;
    @media (max-width: 767px) {
        font-size: 0.8rem;
        height: 28px;
        width: 26px;
    }
    &:hover {
        cursor: pointer;
    }
}

.table--container {
    margin: 0 7.5%;
    width: 85%;
    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.15);
    padding-bottom: 0.5rem;
    background-color: #f5fffa;

    @media (max-width: 1200px) {
        margin: 0 2.5%;
        width: 95%;
    }

    header {
        border-radius: 10px 10px 0 0;
        box-shadow: none;
    }

    div {
        nav {
            border-radius: 0 0 10px 10px;
        }
    }

    /* Scrollbar */
    * {
        scrollbar-width: thin;
        scrollbar-color: $primary-color $primary-color-dark;
    }

    /* Works on Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        height: 12px;
    }

    *::-webkit-scrollbar-track {
        background: $primary-color-dark;
    }

    *::-webkit-scrollbar-thumb {
        background-color: $primary-color;
        border-radius: 20px;
        border: 1px solid #584b53;
    }
}

/*Header of table*/
.rdt_TableHeadRow {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    .rdt_TableCol {
        color: $primary-color-dark;
        font-size: 0.9rem;
        padding-left: 0;
        padding-right: 0;
        justify-content: center;
    }
}

/* overide striped row theme */
.imjRGV {
    background-color: #fefefe !important;
    color: #3c8303 !important;
}

.gFPICY {
    background-color: #ededed !important;
    color: #2a5d02 !important;
}

/*All row of table*/
.rdt_TableRow {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    .rdt_TableCell {
        display: flex;
        justify-content: center;
        div {
            white-space: pre-line !important;
        }
    }
}

/* Column Header table */
.rdt_TableRow {
    //First Name
    div[data-column-id="1"] {
        width: 11%;
    }
    //Last Name
    div[data-column-id="2"] {
        width: 10%;
    }
    //Start date
    div[data-column-id="3"] {
        width: 10%;
    }
    //Department
    div[data-column-id="4"] {
        width: 12%;
    }
    //Date of Birth
    div[data-column-id="5"] {
        width: 10%;
    }
    //Street
    div[data-column-id="6"] {
        width: 20%;
    }
    //City
    div[data-column-id="7"] {
        width: 10%;
    }
    //State
    div[data-column-id="8"] {
        width: 6%;
    }
    //Zip Code
    div[data-column-id="9"] {
        width: 8%;
    }
}

/* Column table */
// FirstName
.rdt_TableCol[data-column-id="1"] {
    width: 11%;
}
//Last Name
.rdt_TableCol[data-column-id="2"] {
    width: 10%;
}
//Start date
.rdt_TableCol[data-column-id="3"] {
    width: 10%;
}
//Department
.rdt_TableCol[data-column-id="4"] {
    width: 12%;
}
//Date of Birth
.rdt_TableCol[data-column-id="5"] {
    width: 10%;
}
//Street
.rdt_TableCol[data-column-id="6"] {
    width: 20%;
}
//City
.rdt_TableCol[data-column-id="7"] {
    width: 10%;
}
//State
.rdt_TableCol[data-column-id="8"] {
    width: 6%;
}
//Zip Code
.rdt_TableCol[data-column-id="9"] {
    width: 8%;
}

//Column
.ikexHN {
    flex: none !important;
}

@media (max-width: 1345px) {
    .rdt_TableCol[data-column-id="1"] {
        width: 7.813rem;
    }
    //Last Name
    .rdt_TableCol[data-column-id="2"] {
        width: 7.125rem;
    }
    //Start date
    .rdt_TableCol[data-column-id="3"] {
        width: 7.125rem;
    }
    //Department
    .rdt_TableCol[data-column-id="4"] {
        width: 8.563rem;
    }
    //Date of Birth
    .rdt_TableColiv[data-column-id="5"] {
        width: 7.125rem;
    }
    //Street
    .rdt_TableCol[data-column-id="6"] {
        width: 14.25rem;
    }
    //City
    .rdt_TableCol[data-column-id="7"] {
        width: 7.125rem;
    }
    //State
    .rdt_TableCol[data-column-id="8"] {
        width: 6.25rem;
    }
    //Zip Code
    .rdt_TableCol[data-column-id="9"] {
        width: 5.25rem;
    }

    .rdt_TableRow {
        div[data-column-id="1"] {
            width: 7.813rem;
        }
        //Last Name
        div[data-column-id="2"] {
            width: 7.125rem;
        }
        //Start date
        div[data-column-id="3"] {
            width: 7.125rem;
        }
        //Department
        div[data-column-id="4"] {
            width: 8.563rem;
        }
        //Date of Birth
        div[data-column-id="5"] {
            width: 7.125rem;
        }
        //Street
        div[data-column-id="6"] {
            width: 14.25rem;
        }
        //City
        div[data-column-id="7"] {
            width: 7.125rem;
        }
        //State
        div[data-column-id="8"] {
            width: 6.25rem;
        }
        //Zip Code
        div[data-column-id="9"] {
            width: 5.25rem;
        }
    }
}

@media (max-width: 980px) {
    .rdt_TableCol[data-column-id="1"] {
        width: 6rem;
    }
    //Last Name
    .rdt_TableCol[data-column-id="2"] {
        width: 6rem;
    }
    //Start date
    .rdt_TableCol[data-column-id="3"] {
        width: 6rem;
    }
    //Department
    .rdt_TableCol[data-column-id="4"] {
        width: 6rem;
    }
    //Date of Birth
    .rdt_TableColiv[data-column-id="5"] {
        width: 6.5rem;
    }
    //Street
    .rdt_TableCol[data-column-id="6"] {
        width: 14rem;
    }
    //City
    .rdt_TableCol[data-column-id="7"] {
        width: 5rem;
    }
    //State
    .rdt_TableCol[data-column-id="8"] {
        width: 4rem;
    }
    //Zip Code
    .rdt_TableCol[data-column-id="9"] {
        width: 5rem;
    }

    .rdt_TableRow {
        div[data-column-id="1"] {
            width: 6rem;
        }
        //Last Name
        div[data-column-id="2"] {
            width: 6rem;
        }
        //Start date
        div[data-column-id="3"] {
            width: 6rem;
        }
        //Department
        div[data-column-id="4"] {
            width: 6rem;
        }
        //Date of Birth
        div[data-column-id="5"] {
            width: 6.5rem;
        }
        //Street
        div[data-column-id="6"] {
            width: 14rem;
        }
        //City
        div[data-column-id="7"] {
            width: 5rem;
        }
        //State
        div[data-column-id="8"] {
            width: 4rem;
        }
        //Zip Code
        div[data-column-id="9"] {
            width: 5rem;
        }
    }
}
